:root {
	--content-small: 1100px;
	--content-normal: 1320px;
	--page-background-color: #FFF;
	--base-colour: #000;
	--font-base: 'Montserrat', sans-serif;
	--font-base-heading:'Syne', sans-serif;
	--primary-bg-color: #ef7925;
	--primary-text-color: #ef7925;
	
}
